# Visual Studio 2015 user specific files
.vs/

# Ignore exported folder and other assets
Repositories/*
Content/ParagonYin/*
Content/ParagonCrunch/*
Content/ParagonBoris/*
Content/ParagonCountess/*
Content/ParagonDekker/*
Content/ParagonGideon/*
Content/ParagonGrux/*
Content/ParagonKallari/*
Content/ParagonKhaimera/*
Content/ParagonMinions/*
Content/ParagonMuriel/*
Content/ParagonNarbash/*
Content/ParagonPhase/*
Content/ParagonSteel/*
Content/ParagonTwinBlast/*
Content/ParagonLtBelica/*
Content/ElectronicMusicPack/*
Content/AutomotiveMaterials/*
Content/EsportsSample/*
Content/EnvironmentPack2/*
Content/Explosions/*
Content/FleshExplosion/*
Content/ProSoundCollection_v1_3/*
Content/ProSoundCollection_v1_3_MONO/*
Content/Cave/*
Content/RuralAustralia/*
Content/SoulCave/*
Content/A_Surface_Footstep/*
Content/FightingAnimation/*
Content/FightingAnimsetPro/*
Content/CloseCombatAnimSet/*
Content/FighterAnimationPack/*
Content/NPC_Zombies/*
Content/NFTemplate/Showcase/Characters/Reallusion/Character01/Mesh/**
Content/NFTemplate/Showcase/Characters/Reallusion/Character02/Mesh/**
Content/CC_Shaders/*
Content/FXVarietyPack/*
Content/StylizedProjectiles/*
Content/DarkForest/*
Content/ModularLostRuinKit/*
Content/Realistic_Starter_VFX_Pack_Vol2/*
Content/UltraDynamicSky/*
Content/SciFiShields/*
Content/StarSphere/*
Content/GenericNPCAnimPack/*
Content/LogCabin/*
Content/TauntsPack/*
Content/USCapitol/*
Content/HQAbandonedSchool/*
Content/RoboBars/*
Content/MovementAnimsetPro/*
Content/FootstepParticlePack/*
Content/FootstepAndFoleySounds/**
Content/Explosions_W3Vol1/**

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

# These project files can be generated by the engine
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Precompiled Assets
SourceArt/**/*.png
SourceArt/**/*.tga

# Binary Files
Binaries/*
Plugins/*/Binaries/*

# Builds
Build/*

# Whitelist PakBlacklist-<BuildConfiguration>.txt files
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt

# Don't ignore icon files in Build
!Build/**/*.ico

# Built data for maps
*_BuiltData.uasset

# Configuration files generated by the Editor
Saved/*

# Compiled source files for the engine to use
Intermediate/*
Plugins/*/Intermediate/*

# Plugins
Plugins/*

# Cache files for the editor to use
DerivedDataCache/*


